$main-color-light: #ea583c;
$main-color-dark: #6fadbf;

$text-color-light: #ffffff;
$text-color-dark: #535353;

$background-color-light: #ffffff;
$background-color-dark: #292929;

$header-font-family: 'Oswald', sans-serif;
$text-font-family: 'Poppins', sans-serif;
